# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:
#
#   brew install direnv   # then hook direnv into your shell
#   direnv allow

eval "$(devbox generate direnv --print-envrc)"
